<h1>Best Buy Stores</h1>
<p><%= @stores.all['total'] %> Total Stores</p>
<ul>
  <% @stores.all['stores'].each do |store| %>
  <li><%= store['longName'] %></li>
  <p><%= store['city'] %></p>
  <% end %>
</ul>
